{%include 'headers.html'%}
<title>Home | BMS</title>
{%include 'navbar.html'%}


<a class="btn btn-outline-light btn-block btn-lg" href="{{url_for('findbuses')}}" style="margin-top: 30px;padding-top: 50px; padding-bottom: 50px;">Find Buses</a>
{#<a class="btn btn-outline-light btn-block btn-lg" href="{{url_for('trackbus')}}" style="margin-top: 30px;padding-top: 50px; padding-bottom: 50px;">Track Bus</a>#}
<a class="btn btn-outline-light btn-block btn-lg" href="{{url_for('ticketstatus')}}" style="margin-top: 30px;padding-top: 50px; padding-bottom: 50px;">Check Ticket Status</a>

</body>
</html>